


<h1>Tabela de Futuros</h1>
        
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Símbolo</th>
            <th>Time Frame</th>
            <th>Operação</th>
            <th>Última Vela</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < futuros.length; i++) { %>
            <tr>
                <td><%= futuros[i].id %></td>
                <td><%= futuros[i].simbulo %></td>
                <td><%= futuros[i].time_frame %></td>
                <td><%= futuros[i].operação %></td>
                <td><%= futuros[i].ultima_vela %></td>
                <td><%= futuros[i].status %></td>
            </tr>
        <% } %>
    </tbody>
</table>
